<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context" 
    xmlns:aop="http://www.springframework.org/schema/aop" 
    xmlns:tx="http://www.springframework.org/schema/tx"
    xmlns:mvc="http://www.springframework.org/schema/mvc" 
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans 
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context 
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/aop 
        http://www.springframework.org/schema/aop/spring-aop.xsd
        http://www.springframework.org/schema/tx 
        http://www.springframework.org/schema/tx/spring-tx.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd">
    <context:component-scan base-package="com.binmma.controller"/>
    <bean id="user" class="com.binmma.model.User">
    	<property name="name" value="binmma"/>
    </bean>
    <!-- 配置处理器映射器 -->
    <bean class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerMapping"/>
    <!-- 配置处理器适配器 -->
    <bean class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerAdapter"/>
    <!-- 配置mvc注解驱动 相当于使用最新处理器映射器 处理器适配器 并对Json数据响应提供支持-->
    <!-- <mvc:annotation-driven conversion-service="formattingConversionServiceFactoryBean"/> -->
    <!-- 自定义转换器下   配置自定义转换器上-->
    <bean id = "formattingConversionServiceFactoryBean" class="org.springframework.format.support.FormattingConversionServiceFactoryBean">
    	<property name="converters">
    		<set>
    			<bean class="com.binmma.utils.ConverDate"></bean>
    			<bean class="com.binmma.utils.ConverString"></bean>
    			<bean class="com.binmma.utils.ConverInt"></bean>
    		</set>
    	</property>
    </bean>
    <!-- 配置视图解析器 -->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
    	<property name="prefix" value="/WEB-INF/jsp/"/>
    	<property name="suffix" value=".jsp"/>
    </bean>
    <!-- 全局异常处理 -->
    <bean class="com.binmma.exception.CustomeException"/>
    <!-- 多媒体上传 -->
    <bean id = "multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
    	<!-- 设置文件最大上传限制 -->
    	<property name="maxUploadSize" value="8388608"></property>
    </bean>
    <!-- 自定义拦截器 -->
    <mvc:interceptors>
    	<mvc:interceptor>
    		<mvc:mapping path="/**"/>
    		<mvc:exclude-mapping path="/user/**"/>
    		<bean class="com.binmma.customInterceptor.LoginInterceptor"/>
    	</mvc:interceptor>
    </mvc:interceptors>
</beans>        